@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-gradient {
    @apply bg-gradient-to-r from-[#005BEA] to-[#45D8FF] text-transparent bg-clip-text;
  }
}

.border-gradient {
  position: relative;
}

.border-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 4px;
  padding: 1px;
  background: linear-gradient(to right, #005BEA, #45D8FF);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.hover-border-gradient {
  position: relative;
}


.hover-border-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 4px;
  padding: 1px;

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

.hover-border-gradient:hover::before {
  background: linear-gradient(to right, #005BEA, #45D8FF);
}

.feature-slider .slick-dots {
  @apply bottom-0;
}

.feature-slider .slick-dots ul {
  @apply flex items-center py-1 gap-1;
}

.feature-slider .slick-dots ul button {
  @apply w-[28px] h-[28px] bg-[#F6F8FA] rounded border flex justify-center items-center;
}

.feature-slider .slick-dots ul li {
  @apply w-[28px] h-[28px] m-0 text-xs leading-[18px] tracking-[0.4%] rounded border border-[#DEE2E6] flex justify-center items-center;
}

.feature-slider .slick-dots ul .slick-active {
  @apply w-[28px] h-[28px] m-0 border-0 text-gradient text-xs border-gradient leading-[18px] tracking-[0.4%] rounded flex justify-center items-center;
}



.partners-testimonial-slider .slick-arrow {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: linear-gradient(to right, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
  z-index: 10;
}

.partners-testimonial-slider .slick-prev {
  left: 0;
}

.partners-testimonial-slider .slick-next {
  right: 0;
}

.partners-testimonial-slider .slick-prev::before {
  content: url('/images/left_arrow.svg');
  font-size: 16px;
}

.partners-testimonial-slider .slick-next::before {
  content: url('/images/right_arrow.svg');
  font-size: 16px;
}

.partners-testimonial-slider .slick-prev:hover,
.partners-testimonial-slider .slick-prev:focus,
.partners-testimonial-slider .slick-next:hover,
.partners-testimonial-slider .slick-next:focus {
  background: linear-gradient(to right, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
}

.partners-testimonial-slider .slick-dots {
  bottom: 0;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 10px !important;
}

.partners-testimonial-slider .slick-dots li button {
  width: 32px;
  height: 4px;

  display: flex;
  gap: 10px;
}

.partners-testimonial-slider .slick-dots li button:before {
  width: 32px;
  height: 4px;
  content: '';
  background: #DEE2E6;
  border-radius: 11px;
}

.partners-testimonial-slider .slick-dots li.slick-active button:before {
  background: linear-gradient(to right, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
}

::-webkit-scrollbar {
  width: 14px;

}

::-webkit-scrollbar-track {
  background: #F9FAFB;
}


::-webkit-scrollbar-thumb {
  background: #DEE2E6;
  border: 4px solid #F9FAFB;
}


::-webkit-scrollbar-thumb:hover {
  background: #DEE2E6;
}

.join-partner-program-process .slick-dots {
  bottom: 0;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.join-partner-program-process .slick-dots li {
  width: 8px;
  height: 8px;
}

.join-partner-program-process .slick-dots li button {
  width: 8px;
  height: 8px;
  display: flex;
  gap: 8px;
}

.join-partner-program-process .slick-dots li button:before {
  width: 8px;
  height: 8px;
  content: '';
  background: #DEE2E6;
  border-radius: 100%;
}

.join-partner-program-process .slick-dots li.slick-active button:before {
  background: linear-gradient(to right, hsla(217, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}